name: Python Package using Conda

on:
  push:
  pull_request:

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        python-version: "3.10"
        auto-update-conda: true
        activate-environment: base
        use-mamba: true

    - name: Install dependencies
      run: |
        mamba env update -n base -f environment.yml

    - name: Lint with flake8
      run: |
        mamba install flake8 -y
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Run tests with pytest
      run: |
        mamba install pytest -y
        pytest -vv
